@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --text-color: #171717;
}


body {
  background: var(--background);
  color: var(--text-color);
}


.wrapper{
  max-width: 1536px;
  margin: 0 auto;
  padding: 0rem 2rem;
  border: 1px dashed slategray;
}

@media screen and (max-width:1536px) {
  .wrapper{
    max-width: 1366px;
    padding: 0rem 1.5rem;
  }
}

@media screen and (max-width:1280px) {
  .wrapper{
    max-width: 1024px;
    padding: 0rem 1.5rem;
  }
}

@media screen and (max-width:1024px) {
  .wrapper{
    max-width: 768px;
    padding: 0rem 1rem;
  }
}
